.header {
  text-align: center;
  color: #0c7c51;
  font-weight: bold;
  font-size: 36px;
}

.list {
  line-height: 2rem;
  color: white;
  text-align: left;
  margin-right: 0.5rem;
  list-style-type: none;
}

.list a {
  color: #082e20;
  text-decoration: none;
  font-size: 18px;
}
